<form [formGroup]="contactUsForm" (ngSubmit)="submitForm()">
    <h4>Contact US</h4>
    <div class="form-group" formGroupName="userDetails">
    <input name="name" formControlName="name" type="text" class="feedback-input" placeholder="Name"/>
    <small class="text-danger"
        *ngIf="!contactUsForm.get('userDetails.name')?.valid && contactUsForm.get('userDetails.name')?.touched">
        <span *ngIf="contactUsForm.get('userDetails.name')?.errors?.required">Please Enter Username</span>
        <span *ngIf="contactUsForm.get('userDetails.name')&& contactUsForm.get('userDetails.name')?.errors &&
            contactUsForm.get('userDetails.name')?.errors?.errorMsg">{{contactUsForm.get('userDetails.name')?.value}} is
            not allowed</span>
    </small>
    
    <input name="email" type="text" class="feedback-input" placeholder="Email" formControlName="email" />
    <span class="text-danger mb-2" *ngIf="!contactUsForm.get('userDetails.email')?.valid && contactUsForm.get('userDetails.email')?.touched">Please
        Enter a Valid Email</span><br>
    </div>
    <label for="cars">Choose a car:</label>

    <select name="cars" id="cars" class="feedback-input" placeholder="Choose" formControlName="cars">
        <option  *ngFor="let car of cars" [value]="car">{{car}}</option>
    </select>
    <label for="gender">Select your gender</label>
    <br>
    <input type="radio" id="gender" name="gender" value="MALE" formControlName="gender">
    <label for="MALE">MALE</label><br>
    <input type="radio" id="css" name="gender" value="FEMALE" formControlName="gender" >
    <label for="FEMALE">FEMALE</label><br>
    <textarea name="comments" class="feedback-input" placeholder="Comment" formControlName="comments"></textarea>
    <input type="checkbox" id="tnc1" name="tnc1" value="tnc1" formControlName="tnc1">
<label for="tnc1"> Terms and conditions 1</label><br>
<input type="checkbox" id="tnc2" name="tnc2" value="tnc2" formControlName="tnc2">
<label for="tnc2"> Terms and Conditions 2</label><br>
    <input type="submit" value="SUBMIT" [disabled]="!contactUsForm?.valid || !contactUsForm?.get('tnc1')?.value" />
</form>